# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/FarmerAgentVenv
FarmerAgentVenv/
FarmerAgentVenv.bak/


./app/.ragatouille/colbert/indexes/pdf/
./app/.ragatouille/*
app/.ragatouille/colbert/indexes/pdf/
myenv/
myenv
venv_py310/
venv_py310/
__pycache__/
app/__pycache__/
__pycache__

data/
data/*





uploaded_pdfs/


